.card {
    padding: 10%;
    background-color: #E7EDF0;
}

.input {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn {
    float: right;
    margin-top: 5%;
}

.form-control {
    text-transform: uppercase !important;
}

.validationMsg{
    margin-top: 3%;
    color: red;
}